
.DS_Store
Refseq/NM11_LRef.fasta.fai
Refseq/NM11_MRef.fasta.fai
Refseq/NM11_SRef.fasta.fai
Scripts/Maps/cb_2022_us_state_20m.cpg
Scripts/Maps/cb_2022_us_state_20m.dbf
Scripts/Maps/cb_2022_us_state_20m.prj
Scripts/Maps/cb_2022_us_state_20m.shp
Scripts/Maps/cb_2022_us_state_20m.shp.ea.iso.xml
Scripts/Maps/cb_2022_us_state_20m.shp.iso.xml
Scripts/Maps/cb_2022_us_state_20m.shx
Scripts/Maps/fips-by-state.csv
Scripts/Maps/tl_2022_us_county.cpg
Scripts/Maps/tl_2022_us_county.dbf
Scripts/Maps/tl_2022_us_county.prj
Scripts/Maps/tl_2022_us_county.shp.ea.iso.xml
Scripts/Maps/tl_2022_us_county.shp
Scripts/Maps/tl_2022_us_county.shp.iso.xml
Scripts/Maps/tl_2022_us_county.shx
